*{
    margin: 0;
    padding: 0;
}
body {background-color: rgb(59, 143, 38);}
html, body {margin: 0; height: 100%; overflow: hidden}

.Header {
    padding: 5%;
    text-align: center;
    background: rgb(100, 129, 32);
    color: rgb(255, 255, 255);
    font-size: 30px;
    border: 1px solid rgb(0, 0, 0);
}
.RightSideBox {
    padding: 50px;
    float: right;
    position: relative;
    text-align: center;
    font-size: 110%;
    width: 15%;
    height: 50%;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
}
@media screen and (min-width: 901px){
    .RightSideBox {
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (min-width: 583px) and (max-width: 900px) {
    .RightSideBox {
        background-color: rgb(150, 0, 0);
    }
}
@media screen and (max-width: 583px) {
    .RightSideBox {
        background-color: rgb(38, 0, 255);
        position: absolute;
        left: 20%;
        bottom: 0%;
    }
}
.Circle {
    position: relative;
    left: 60%;
    top: 12%;
    width: 15vw;
    height: 15vw;
    background-color: rgb(64, 143, 132);
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    margin: 2%;
}
@media screen and (min-width: 583px) and (max-width: 900px) {
    .Circle {
        position: absolute;
        left: 30%;
        top: 75%;
    }
}
.RectangleTop {
    position: relative;
    left: 40%;
    bottom: 5%;
    width: 20vw;
    height: 4vw;
    background-color: rgb(38, 0, 255);
    border: 2px solid rgb(0, 0, 0);
}
@media screen and (min-width: 583px) and (max-width: 900px) {
    .RectangleTop {
        position: absolute;
        left: 2%;
        top: 77%;
    }
}
.RectangleBottom {
    position: relative;
    left: 40%;
    top: 0px;
    width: 20vw;
    height: 4vw;
    background-color: rgb(38, 0, 255);
    border: 2px solid rgb(0, 0, 0);
}
@media screen and (min-width: 583px) and (max-width: 900px) {
    .RectangleBottom {
        position: absolute;
        left: 2%;
        top: 87%;
    }
}
.DiamondTop {
    position: relative;
    top: -320px;
    left: 170px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-bottom-color: rgb(255, 0, 0);
}
.DiamondTop:after {
    content: '';
    position: absolute;
    top: 90px;
    left: -90px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-top-color: rgb(255, 0, 0);
}
  .DiamondBottom  {
    position: relative;
    top: -350px;
    left: 20px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-bottom-color: rgb(255, 0, 0);
}
.DiamondBottom:after {
    content: '';
    position: absolute;
    top: 90px;
    left: -90px;
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-top-color: rgb(255, 0, 0);
}